*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  overflow-x: hidden;
  min-height: 100%;
  scroll-behavior: smooth;
}
body {
  background-color: var(--bg-clr);
}
h1 {
  color: var(--black);
  font-size: clamp(40px, 7vw, 60px);
  font-weight: 900;
  line-height: clamp(50px, 12vw, 76px);
}
img,
picture,
svg,
video {
  max-width: 100%;
  display: block;
  object-fit: contain;
  object-position: center;
}
span {
  display: inline-block;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  color: var(--dark-1);
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
fieldset {
  border: 0;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: hsl(0, 0%, 95%);
}
::-webkit-scrollbar-thumb {
  background: hsl(207, 12%, 85%);
}
::-webkit-scrollbar-thumb:hover {
  background: hsl(212, 28%, 79%);
}
